# Node / React
node_modules/
dist/
dist-ssr/
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
db.sqlite3
db.sqlite3-journal
media/
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
